{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/articles.css' %}">

<div class ="section">
    <header>
    <h1>Natural Part of Womanhood</h1>
    </header>

    <section class="section ">
        <h2>Signs Your Periods Are Coming</h2>
        <img src="{% static 'images/signs.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
        <p>
         Your body often gives little hints before your period starts. These signs can show up a few days before bleeding begins, and they’re different for everyone. Some common ones include cramps or a heavy feeling in your lower belly, mood swings or feeling extra emotional, tender or swollen breasts, and changes in appetite. You might also notice headaches, bloating, or feeling more tired than usual.
         Some women experience skin changes like pimples or oily skin just before their periods. Others may feel more irritable, have trouble sleeping, or notice changes in their bowel habits. These signs are a normal part of the menstrual cycle, caused by hormonal changes. Tracking these symptoms each month can help you predict when your period is about to start, making it easier to prepare and take care of yourself.
        </p>

<section class="section">
  <h2>Understanding PCOD (Polycystic Ovarian Disease)</h2>
  <img src="{% static 'images/pcod.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
  <p>
   Polycystic Ovarian Disease (PCOD) is a health condition that affects the ovaries in women. In PCOD, the ovaries produce more androgens (male hormones) than normal, which can cause problems with the menstrual cycle. Many small, fluid-filled sacs (called cysts) may form in the ovaries. Women with PCOD may experience irregular periods, difficulty in conceiving, acne, weight gain, and excessive hair growth on the face or body. It is a common condition among women of reproductive age and can be managed with the right lifestyle changes and medical care.
</p>
<p>
Managing PCOD
While PCOD does not have a complete cure, it can be controlled with proper management. Doctors may recommend a healthy diet, regular exercise, and medicines to balance hormones or regulate periods. Reducing sugar intake, managing stress, and maintaining a healthy weight can make a big difference. In some cases, treatment may also focus on improving fertility if a woman wants to get pregnant. Early diagnosis and a healthy lifestyle can help prevent complications like diabetes, heart problems, or severe hormonal imbalance.
  </p>
    </div>

  <div class="section">
    <h2>Understanding PCOS Polycystic Ovary Syndrome</h2>
    <img src="{% static 'images/pcos.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
    <p>
    Polycystic Ovary Syndrome (PCOS) is a common hormonal condition that affects women during their reproductive years. In PCOS, the body produces higher levels of male hormones (androgens) than normal, which can affect the menstrual cycle and ovulation. This can lead to symptoms like irregular or missed periods, acne, unwanted hair growth on the face or body, weight gain, and thinning hair on the scalp. Some women with PCOS also have small cysts on their ovaries, but not everyone with PCOS will have them.
  </p>
  <p>
Managing PCOS
PCOS cannot be completely cured, but it can be managed effectively. Doctors often suggest lifestyle changes such as eating a balanced diet, exercising regularly, and maintaining a healthy weight to improve symptoms. In some cases, medicines may be prescribed to regulate periods, balance hormones, or help with fertility. Managing stress, getting enough sleep, and regular health checkups are also important. Early treatment can help prevent future health problems like diabetes, heart disease, and infertility.
    </p>
  </div>

  <div class="section">
    <h2>Hormonal Imbalance</h2>
    <img src="{% static 'images/hb.png' %}" alt="Diagram showing the menstrual cycle and uterus">
    <p>
        Hormonal imbalance happens when your body produces too much or too little of certain hormones. Hormones are chemicals that act like messengers, telling different parts of your body what to do and when. They help control important processes like your menstrual cycle, metabolism, mood, sleep, and even skin health. When the balance is disturbed, it can affect your physical and emotional well-being.
    </p>
    <p>
        Hormonal changes can occur naturally during puberty, pregnancy, and menopause, but sometimes they are caused by health conditions like PCOS, thyroid problems, stress, poor diet, or lack of sleep. Even lifestyle factors such as not exercising enough, eating too much sugar, or experiencing constant stress can trigger an imbalance. It’s important to listen to your body and notice any unusual changes, as hormones have a powerful effect on how you feel every day.
    </p>
    <p>
       <strong> Some common signs of hormonal imbalance include</strong> irregular periods, mood swings, acne, sudden weight gain or loss, hair loss, trouble sleeping, fatigue, or low concentration. If you notice these symptoms often, a doctor can run tests to find the cause and suggest treatment. Eating a balanced diet, staying active, getting enough rest, and managing stress can help keep your hormones in check. With the right care, most hormonal imbalances can be improved and managed effectively.
    </p>
  </div>

  <div class="section">
    <h2>Color Of Blood</h2>
    <img src="{% static 'images/colorofblood.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
    <p>The color of your period blood can change from bright red to dark brown, and this is usually normal. The color depends on how fresh the blood is and how quickly it leaves your body. Fresh blood is brighter, while older blood that takes longer to come out may look darker.</p>
    <p>While most color changes are harmless, very unusual colors like grayish discharge or consistently very watery, pale bleeding might signal an infection or other health issue. If you also notice foul smell, large clots, or heavy bleeding that feels unusual for you, it’s a good idea to check with a doctor. Tracking your period color can help you understand your cycle better and spot changes early.</p>    
    <p><strong>Period Blood Colors & Meanings :</strong>
<p>Bright red – Fresh blood, common at the start of your period.</p>
<p>Dark red – Older blood, usually mid-period or towards the end.</p>
<p>Brown – Very old blood, often seen at the end of your period.</p>
<p>Pink – Light flow or mixed with discharge, often at the start/end of cycle.</p>
<p>Grayish – May indicate infection; consult a doctor.</p>
</div>

    <div class="section">
    <h2>Mood Swings</h2>
    <img src="{% static 'images/mood.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
     <p>Mood swings are sudden changes in how you feel — you might be happy one moment and upset, sad, or angry the next. These shifts can happen for many reasons, such as hormonal changes, stress, or even lack of sleep. They are common during certain times in life, like puberty, menstruation, pregnancy, or menopause, when your hormone levels naturally change.
    </p>
    <p>
        <strong>Managing Mood Swings:</strong>
Small lifestyle changes can help manage mood swings. Eating healthy, exercising regularly, getting enough sleep, and practicing relaxation techniques like meditation or deep breathing can make a big difference. Talking to someone you trust or a mental health professional can also help you cope. If mood swings are severe or interfere with daily life, it’s a good idea to seek medical advice to check for any underlying health issues.
    </p>
  </div>

  <div class="section">
    <h2>Cravings</h2>
    <img src="{% static 'images/crave.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
    <p>
    Cravings are strong desires to eat certain foods, often sudden and hard to ignore. They can be caused by hormonal changes, stress, boredom, or even nutrient deficiencies. Many women notice cravings before or during their periods, especially for sweet, salty, or high-carb foods like chocolate, chips, or pastries. This happens because hormone shifts can affect brain chemicals that control hunger and mood, making comfort foods more tempting.
   While giving in to cravings occasionally is okay, frequent unhealthy snacking can affect your energy and overall health. Choosing balanced options like fruits, dark chocolate, nuts, or yogurt can satisfy cravings while still giving your body the nutrients it needs. Drinking enough water and keeping regular meal times can also help reduce intense food urges.
    </p>
  </div>

  <div class="section">
    <h2>Cramps</h2>
    <img src="{% static 'images/cramps.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
    <p>Cramps are painful or uncomfortable sensations in the lower belly or back that many women feel before or during their periods. They happen when the uterus contracts to help shed its lining, and certain hormone-like substances called prostaglandins make these contractions stronger, which can cause pain. Cramps can feel mild for some and very intense for others, sometimes even spreading to the thighs or lower back.
     While cramps are a normal part of the menstrual cycle, they can still be uncomfortable. Applying heat (like a hot water bag), gentle stretching, staying hydrated, and light exercise can help relieve the pain. Eating a balanced diet and reducing caffeine or salty foods before your period may also ease cramps. In severe cases, over-the-counter pain relief or a doctor’s advice can make them more manageable.</p>
    </div>

     <div class="section">
    <h2>Commom signs of Ovulation</h2>
    <img src="{% static 'images/ovary.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
    <p>Ovulation is when your ovary releases an egg, usually about midway through your menstrual cycle. Your body may show certain signs during this time, which can help you know your most fertile days.</p>
    <p>Slight rise in body temperature after ovulation</p>
    <p>Clear, stretchy, egg-white-like cervical mucus</p>
    <p>Mild cramps or twinges on one side of the lower belly (called mittelschmerz)</p>
    <p>Increased sex drive</p>
    <p>Breast tenderness</p>
    <p>Heightened sense of smell or taste</p>
    <p>Light spotting (rare in some women)</p>

    <div class="section">
    <h2>Pregancy Symptoms</h2>
    <img src="{% static 'images/prega.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
    <p>Pregnancy symptoms are changes your body experiences after conception, caused by hormonal shifts that support the growth of the baby. These signs can appear within the first few weeks after fertilization, but they can vary from woman to woman. Some notice symptoms very early, while others may not feel much until later.</p>
    <p><strong>The most well-known sign is a missed period, but other early symptoms can include nausea (morning sickness), breast tenderness, fatigue, and frequent urination. You may also notice mood swings, food cravings or aversions, mild cramping, or light spotting (implantation bleeding). Some women experience dizziness, headaches, or changes in appetite and digestion.</strong></p>
    <p>If you suspect pregnancy because of these symptoms, taking a home pregnancy test is a quick first step. For confirmation and proper care, visiting a doctor is important. Early check-ups help track the baby’s development, guide nutrition, and manage any discomfort. Every pregnancy is different, so not having all the “usual” symptoms doesn’t necessarily mean anything is wrong.</p>
    <p>Missed period</p>
    <p>Nausea or vomiting (morning sickness)</p>
    <p>Breast tenderness or swelling</p>
    <p>Fatigue</p>
    <p>Frequent urination</p>
    <p>Mood swings</p>
    <p>Food cravings or aversions</p>
    <p>Mild cramping or spotting</p>
    <p>Dizziness or headaches</p>
    <div class="section">
    <h2>Can you do sex while you are on your periods?</h2> 
    <img src="{% static 'images/think.jpg' %}" alt="Diagram showing the menstrual cycle and uterus">
    <p>Yes, it is generally safe to have sex during your period if both partners are comfortable with it. Menstrual blood does not make sex unsafe, but using protection like condoms is important to reduce the risk of sexually transmitted infections (STIs), as the risk can be slightly higher during this time. Some couples even find that sex during periods helps relieve cramps because orgasms can release tension and increase blood flow.</p>
    <p><strong>Things to Keep in Mind</strong>
        Period sex can be a bit messier than usual, so using a towel or having sex in the shower may help. Everyone’s comfort and consent are key — some people may feel more sensitive or uncomfortable during menstruation. Also, remember that pregnancy is still possible during your period, though less likely, because sperm can live inside the body for several days. Communication with your partner and practicing safe sex ensures a more comfortable experience.
    </p>
</section>
{% endblock %}
